<div class="bg-navbar"></div>
<div class="artwork-info container">
    <div class="artworkDesc">
        <img src="{{primaryImageSmall}}" class="infoImg" alt="{{title}}">
        <div class="side-text">
            <h1>{{title}}</h1>
            <h4>{{objectDate}}</h4>
            <ul>
                <li><span>Dimensions:</span> {{dimensions}}</li>
                <li><span>Name:</span> {{objectName}}</li>
                <li><span>Period:</span> {{period}}</li>
            </ul>

            <form action="/artwork/{{objectID}}/favorite" method="post">
                <button type="submit" class="btn btn-primary">Add to favorite</button>
            </form>
        </div>
    </div>

    {{#if objectID}}
    <p class="numberComments">{{commentLength}} comments</p>
    <hr class="artInfoPage">
    {{#each comments}}
    <div class="commentSection">
        <div class="commentHead">
            <img src="{{user.imgUrl}}" alt="{{user.username}}'s image profile">
            <div class="commentNameDate">
                <a href="/profile/{{user.username}}">{{user.username}}</a>
                <p>{{date}}</p>
            </div>
            <p>{{rating}}</p>
        </div>
        <p class="commentText">{{text}}</p>
    </div>
    {{/each}}
    {{/if}}
    <br>
    <form action="/artwork/{{objectID}}" method="POST">
        <p class="leaveComment">Leave a comment</p>
        <hr class="artInfoPage">
        <br>
        <label for="ratingSelect">Rating: </label>
        <input required class="ratingComment" type="number" name="rating" min="1" max="5">
        <br>
        <textarea required name="text" id="commentBox" cols="30" rows="10" placeholder="Add new commentary"></textarea>
        <br>
        <button type="submit" class="submitBtnArtInfo">Submit</button>
    </form>

</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/APIHandler.js"></script>