<body class="artworkExpoBody">
    <div class="bg-navbar"></div>

    <div class="artExpoHead">
        <h1>Next exclusive expositions</h1>
        <a href="#artExpoInfo">Click here for location and more info.</a>
    </div>

    <div class="artworksExpo container">
        {{#with filteredArtwoksInfo.[0]}}
        <div class="floatRight">
            <img class="expoImg0" src="{{image}}" alt="{{title}}">
            <div class="sideText">
                <h2>{{title}}</h2>
                <h4>{{objectDate}}</h4>
                <p><span>Object name:</span> {{objectName}}</p>
                <p><span>Period:</span> {{period}}</p>
                <p><span>Dimensions:</span> {{dimensions}}</p>
            </div>
        </div>
        {{/with}}
        <hr class="hrExpo">
        {{#with filteredArtwoksInfo.[1]}}
        <div class="floatLeft">
            <img class="expoImg" src="{{image}}" alt="{{title}}">
            <div class="sideText">
                <h2>{{title}}</h2>
                <h4>{{objectDate}}</h4>
                <p><span>Period:</span> {{period}}</p>
                <p><span>Object name:</span> {{objectName}}</p>
                <p><span>Dimensions:</span> {{dimensions}}</p>
            </div>
        </div>
        {{/with}}
        <hr class="hrExpo">
        {{#with filteredArtwoksInfo.[2]}}
        <div class="floatRight">
            <img class="expoImg" src="{{image}}" alt="{{title}}">
            <div class="sideText">
                <h2>{{title}}</h2>
                <h4>{{objectDate}}</h4>
                <p><span>Period:</span> {{period}}</p>
                <p><span>Object name:</span> {{objectName}}</p>
                <p><span>Dimensions:</span> {{dimensions}}</p>
            </div>
        </div>
        {{/with}}
        <hr class="hrExpo">
        {{#with filteredArtwoksInfo.[3]}}
        <div class="floatLeft">
            <img class="expoImg" src="{{image}}" alt="{{title}}">
            <div class="sideText">
                <h2>{{title}}</h2>
                <h4>{{objectDate}}</h4>
                <p><span>Period:</span> {{period}}</p>
                <p><span>Object name:</span> {{objectName}}</p>
                <p><span>Dimensions:</span> {{dimensions}}</p>
            </div>
        </div>
        {{/with}}
        <hr class="hrExpo">
        {{#with filteredArtwoksInfo.[4]}}
        <div class="floatRight">
            <img class="expoImg" src="{{image}}" alt="{{title}}">
            <div class="sideText">
                <h2>{{title}}</h2>
                <h4>{{objectDate}}</h4>
                <p><span>Period:</span> {{period}}</p>
                <p><span>Object name:</span> {{objectName}}</p>
                <p><span>Dimensions:</span> {{dimensions}}</p>
            </div>
        </div>
        {{/with}}
    </div>

    <div id="artExpoInfo">
        <div id="myMap"></div>
        <div class="artExpoInfoText">
            <p><span>Location:</span> Matadero Madrid, Madrid, Spain</p>
            <p><span>Subway:</span> Legazpi</p>
            <p><span>Buses:</span> 123, 22, 79, 6, 18, 78, 148, 8, 45, 62, 156.</p>
        </div>
    </div>

    <script src="js/maps-api.js"></script>
    <script
        src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAQ4erZCuNdYTXe_stAAsQWPQj7dJRioJ0&callback=initMap'></script>
</body>