<img src="{{primaryImageSmall}}" class="card-img-top" alt="{{data.title}}">
<h3>Name: {{objectName}}</h3>
<h3>Title: {{title}}</h3>
<h3>Period: {{period}}</h3>
<h3>Object date: {{objectDate}}</h3>
<h3>Dimensions: {{dimensions}}</h3>

<form action="/artwork/{{objectID}}" method="POST">
    <label for="commentBox">Añadir comentario:</label><br>
    <textarea name="text" id="commentBox" cols="30" rows="10" placeholder="Add new commentary"></textarea>
    <br>
    <label for="ratingSelect">Let a rating</label>
    <input type="number" name="rating" min="1" max="5">
    <br>
    <button type="submit">Submit</button>
</form>

<br>
{{#if objectID}}
{{#each comments}}
<hr>
<p>{{artwork}}</p>
<p>{{user.username}}</p>
<p>{{date}}</p>
<p>{{rating}}</p>
<p>{{text}}</p>
<hr>
{{/each}}
{{/if}}


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/js/APIHandler.js"></script>