<body class="artworkExpoBody">
    <div class="bg-navbar"></div>

    <h1>Next exclusive expositions</h1>

    <div class="artworksExpo container">
        {{#with filteredArtwoksInfo.[0]}}
        <div class="floatRight">
            <img class="expoImg0" src="{{image}}" alt="{{title}}">
            <div class="sideText">
                <h2>{{title}}</h2>
                <h4>{{objectDate}}</h4>
                <p><span>Object name:</span> {{objectName}}</p>
                <p><span>Period:</span> {{period}}</p>
                <p><span>Dimensions:</span> {{dimensions}}</p>
            </div>
        </div>
        {{/with}}
        <hr class="hrExpo">
        {{#with filteredArtwoksInfo.[1]}}
        <div class="floatLeft">
            <img class="expoImg" src="{{image}}" alt="{{title}}">
            <div class="sideText">
                <h2>{{title}}</h2>
                <h4>{{objectDate}}</h4>
                <p><span>Period:</span> {{period}}</p>
                <p><span>Object name:</span> {{objectName}}</p>
                <p><span>Dimensions:</span> {{dimensions}}</p>
            </div>
        </div>
        {{/with}}
        <hr class="hrExpo">
        {{#with filteredArtwoksInfo.[2]}}
        <div class="floatRight">
            <img class="expoImg" src="{{image}}" alt="{{title}}">
            <div class="sideText">
                <h2>{{title}}</h2>
                <h4>{{objectDate}}</h4>
                <p><span>Period:</span> {{period}}</p>
                <p><span>Object name:</span> {{objectName}}</p>
                <p><span>Dimensions:</span> {{dimensions}}</p>
            </div>
        </div>
        {{/with}}
        <hr class="hrExpo">
        {{#with filteredArtwoksInfo.[3]}}
        <div class="floatLeft">
            <img class="expoImg" src="{{image}}" alt="{{title}}">
            <div class="sideText">
                <h2>{{title}}</h2>
                <h4>{{objectDate}}</h4>
                <p><span>Period:</span> {{period}}</p>
                <p><span>Object name:</span> {{objectName}}</p>
                <p><span>Dimensions:</span> {{dimensions}}</p>
            </div>
        </div>
        {{/with}}
        <hr class="hrExpo">
        {{#with filteredArtwoksInfo.[4]}}
        <div class="floatRight">
            <img class="expoImg" src="{{image}}" alt="{{title}}">
            <div class="sideText">
                <h2>{{title}}</h2>
                <h4>{{objectDate}}</h4>
                <p><span>Period:</span> {{period}}</p>
                <p><span>Object name:</span> {{objectName}}</p>
                <p><span>Dimensions:</span> {{dimensions}}</p>
            </div>
        </div>
        {{/with}}
    </div>

    <div id="myMap"></div>

    <script src="js/maps-api.js"></script>
    <script src='https://maps.googleapis.com/maps/api/js?key=--API--KEY--&callback=initMap'></script>
</body>