<body class="carrouselBody">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{{filteredArtwoksInfo.[6].image}}" class="carrimg d-block w-100" alt="{{title}}">
            </div>
            <div class="carousel-item">
                <img src="{{filteredArtwoksInfo.[5].image}}" class="carrimg d-block w-100" alt="{{title}}">
            </div>
            <div class="carousel-item">
                <img src="{{filteredArtwoksInfo.[4].image}}" class="carrimg d-block w-100" alt="{{title}}">
            </div>
            <div class="carousel-item">
                <img src="{{filteredArtwoksInfo.[3].image}}" class="carrimg d-block w-100" alt="{{title}}">
            </div>
            <div class="carousel-item">
                <img src="{{filteredArtwoksInfo.[2].image}}" class="carrimg d-block w-100" alt="{{title}}">
            </div>
            <div class="carousel-item">
                <img src="{{filteredArtwoksInfo.[1].image}}" class="carrimg d-block w-100" alt="{{title}}">
            </div>
            <div class="carousel-item">
                <img src="{{filteredArtwoksInfo.[0].image}}" class="carrimg d-block w-100" alt="{{title}}">
            </div>
        </div>
    </div>

    <div class="footer-items">
        <section class="">
            <p>About The Met</p>
            <p>Mission and History</p>
            <p>Collection Areas</p>
            <p>Conservation Departments</p>
            <p>Press</p>
        </section>
        <section class="visit">
            <h2>Open</h2>
            <p>Monday to Saturday from 10.00 a.m. to 8.00 p.m.</p>
            <p>Sundays and public holidays from 10.00 a.m. to 7.00 p.m.</p>
            <h2>Closed</h2>
            <p>1 January</p>
            <p>1 May</p>
            <p>25 December</p>
            <h2>REDUCED HOURS</h2>
            <p>6 January</p>
            <p>24 and 31 December</p>
            <p>From 10.00 a.m. to 2.00 p.m.</p>
            <h2>FREE HOURS</h2>
            <p>From Monday to Saturday from 18.00 to 20.00 h.</p>
            <p>Sundays and public holidays from 5 p.m. to 7 p.m.</p>
        </section>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>