<div class="bg-navbar"></div>

{{#with user}}
<div class="profileHeader">
    <div class="primaryInfo">
        <div class="displayFlex">
            <img src="{{imgUrl}}" alt="{{username}}'s profile image">
            <div class="personalInfo">
                <h1>{{fullName}}</h1>
                <p>{{username}}</p>
            </div>
        </div>
        {{#if ../isOwned}}
        <div class="editProfileBtn">
            <a class="btn btn-primary" href="/profile/{{username}}/edit-info">EDIT PROFILE</a>
        </div>
        {{/if}}
    </div>
    <p>« {{biography}} »</p>
</div>
{{/with}}

<div class="favoriteArts">
    <h3 class="numberComments">Favorites artworks</h3>
    <hr class="artInfoPage">
    <div class="index-container">
        <div class="row justify-content-center">
            {{#each filteredArtworksInfo}}
            <div class="card col-md-3 bg-card-color" style="width: 18rem;">
                <img src="{{image}}" class="card-img-top" alt="{{title}}">
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text">{{period}}</p>
                    <a href="/artwork/{{id}}" class="btnArtInfo">Artwork info</a>
                    {{#if ../isOwned}}
                    <form action="/artwork/{{id}}/delete" method="post">
                        <button type="submit" class="deleteFavBtn">Remove</button>
                    </form>
                    {{/if}}
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>