<img src="{{imgUrl}}" alt="{{username}}'s profile image">
<h1>{{username}}'s profile</h1>

<p>Name: {{fullName}}</p>
<p>Username: {{username}}</p>
<p>Biography: {{biography}}</p>

<a href="/profile/{{username}}/edit-info">EDIT PROFILE</a>